<mat-toolbar color="primary">
  <span class="heading">
    <a routerLink='' mat-button >Simply</a>
  </span>
  <div class="fl">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div>
    <a routerLink='server' mat-button>Server</a>
    <a routerLink='posts' mat-button>Posts</a>
  </div>

</mat-toolbar>

<router-outlet>

</router-outlet>
